.actn-buttons{
    display: flex;
    gap: 0.5rem;
}
.actn-buttons div{
    width: 50%;
}
.hide{
    display: none;
}
.pword{
    font-size: var(--font-small);
    margin-top: 0;
    margin-bottom: 20px;
}
