.actn-buttons{
    display: flex;
    gap: 0.5rem;
}
.actn-buttons div{
    width: 50%;
}
.hide{
    display: none;
}
.active{
    /* display: block; */
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow:  var(--box-shaow);
}
.pword{
    font-size: var(--font-small);
    margin-top: 0;
    margin-bottom: 20px;
}
