.dashboard, .tasks-page{
    width: 85%;
    padding: 3rem 2rem;
    background-color: #F9FAFB;
}
.dashboard-container{
    display: flex;
}
.action-options{
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1.875rem 0;
}
.action-div{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: white;
    border: solid 1px var(--border);
    outline: var(--outline) 50% transparent;
    border-radius: 4px;
}
.action-div:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.option{
    width: 23%;
    border: solid 2px red;
}
.dashboard-head p{
    margin-top: 0.5rem;
    color: var(--color-gray-500);
}
.tasks-and-actions{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.tasks, .quick-actions{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 47%;
    border: solid 1px var(--border);
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 4px;
    background-color: #fff;
    margin: 1rem 0;
}
.tasks .title, .quick-actions .title{
    display: flex;
    gap: 1rem;
}
.tasks .title p, .quick-actions .title p{
    margin-top: 4px;
    color: var(--font-gray);
}

.recent-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}
.recent-tasks p{
    color: var(--color-gray-500);
    font-size: var(--font-small);
    margin-top: 0.5rem;
}
.quick-action-menu{
    display: flex;
    gap: 1rem;
    border: solid 1px var(--border);
    border-radius: 0.75rem;
    background-color: #faf9fa;
    width: 90%;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.quick-action-menu:hover{
    background-color: #61d6fd;
}
.lightblue{
    background-color: #dbeafe;
}
.lightcyan{
    background-color: #cefafe;
}
.lightblue{
    background-color: #dcfcef;
}
aside{
    width: 35%;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    border-right: solid 1px var(--border);
}
aside div{
    padding: 1rem;
}
.hide{
    display: none;
}
.task-box{
    border: solid 1px var(--border);
    padding: 1.5rem;
}
.task-box-title{
    display: flex;
    align-items: center;
}
.task-box-title svg{
    padding: 0.75rem;
    margin-right: 1rem;
    background-color: #155dfc;
    border-radius: 10px;
}
.task-title-info h5{
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}
.task-title-info p{
    color: var(--color-gray-500);
    margin-top: 10px;
    font-size: var(--font-small);
}
.add-tasks{
    border: solid 1px var(--border);
    padding: 1.5rem;
}
.task-box .buttons{
    width: 28%;
}
.task-box .buttons button{
    display: inline-flex;
    align-items: center;
    gap: 3px;
    width: 49%;
}
.task-summary{
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #fff;
    border-top: none;
    padding-top: 3rem;
}
.purple-circle{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: solid 5px #a3b3ff;
}
.task-store, .ai-store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1rem 2rem;
    gap: 20px;
    width: 96.5%;
    border: dashed 2px #c6d2ff;
    background-color: #eff2ffd3;
    border-radius: 10px;
    color: var(--color-gray-500);
}
.ai-store{
    background-color: var(--color-gray-100);
    border: solid 1px var(--border);
}
.ai-store p:first-of-type{
    font-size: 1.25rem;
}
.add-task-button, .generate-now{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #155dfc;
    color: #fff;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 1rem;
}
.generate-now{
    width: 15%;
    padding: 12px;
    background-color: #155efc74;
}
.count-tasks, .ai-title-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.count-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.count-div h6{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: bold;
}
.short-line{
    height: 32px;
    width: 1px;
    margin: 0.875rem;
    background-color: var(--color-gray-200);
}
.green-text{
    color: #00a63e;
}
@media (max-width: 1200px) {
    .tasks-and-actions{
        flex-direction: column;
        width: 95%;
    }
    .tasks, .quick-actions{
        width: 100%;
    }
}
