:root{
    --font-size: 16px;
    --font-family: sans-serif;
    --color-gray: #C8CBD1;
    --color-gray-500: #6a7282;
    --color-gray-600: #364153;
    --color-gray-900: #101828;
}
.container{
    background-image: url(../images/wavybackground.svg);
}
.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.backdrop{
    inset: 0;
    min-height: 100vh;
    /* background-color: ; */
}
.card{
    width: 90%;
    max-width: 448px;
    background-color: white;
}
footer{
    position: absolute;
    bottom: 6px;
    right: 0;
    left: 0;
}