@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --font-size: 16px;
    --font-small: 14px;
    --font-xsmall: 12px;
    --box-shaow:  0 4px 6px -4px rgb(0 0 0 / 0.1);
    --color-gray: #C8CBD1;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #ebe6e7;
    --color-gray-500: #6a7282;
    --color-gray-600: #4a5565;
    --color-gray-700: #364153;
    --color-gray-900: #101828;
    --color-gray-900: #101828;
    --font-gray: ##1E293B;
    --default-font-family: "Open Sans", sans-serif;
}
body{
    font-family: var(--default-font-family);
}

.auth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.backdrop{
    position: absolute;
    inset: 0;
    background-image: url(../images/wavybackground.svg);
    z-index: 1;
    opacity: 0.3;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    max-width: 448px;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    z-index: 10;
    border-radius: 14px;
    box-shadow: 1px 1px 16px 6px rgba(0, 0, 0, 0.1);
}
footer{
    position: absolute;
    bottom: 6px;
    right: 0;
    left: 0;
}
.card-header, .card-detail{
    width: 100%;
}
.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 1.5rem 1.5rem;
}
.buttons{
    background-color: var(--color-gray-100);
    width: 90%;
    padding: 0.25rem;
    border-radius: 0.5rem;
}
button{
    width: 49%;
    border: none;
    background: none;
    padding: 0;
    color: #1e293b;
    font-weight: bold;
    padding: 0.5rem;
}

.active{
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow:  var(--box-shaow);
}
form{
    display: block;
    width: 90%;
}

.agree-stmt{
    text-align: center;
    font-size: var(--font-xsmall);
    line-height: 16px;
    font-family: var(--default-font-family);
}
.hide{
    display: none;
}
.buttons{
    margin-bottom: 1.25rem;
}