.logodiv{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#155dfc, #4f39f6);
    border-radius: 16px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 2.5rem 1.5rem 1.5rem;
    font-family: var(--default-font-family);
    text-align: center;
}

.logo{
    position: relative;
    padding-bottom: 0.5rem;
}
.yellow-circle{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    background-color: #fdc700;
    border: solid 4px #fff;
    border-radius: 100%;
    box-shadow: var(--box-shadow);
}
