.actn-buttons{
    display: flex;
    gap: 0.5rem;
}
.actn-buttons div{
    width: 50%;
}
.hide{
    display: none;
}
.active{
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow:  var(--box-shaow);
}
.button-help2 button{
    background-image: linear-gradient(#fdc700, #f0b100) ;
    border: none;
}
